/* external */
h2, h1{
    color: blueviolet;
}
*{
    background-color: whitesmoke;
}
#header{
    color: black;
    font-weight: bold;
    font-style: italic;
}

.content{
    color: yellow;
}

div + h2{
    color: green !important;
}