.profile-form input[type=file] {
    border: none;
    cursor: pointer;
    padding: 0;
    @include border-radius(0);
}

.buddy-form input[type=submit] {
    background: none;
    border: none;
    color: $blue;
    display: inline;
    margin: 0;
    padding: 0;
    width: auto;
    &:hover {
        text-decoration: underline;
    }
    &.buddy {
        color: $gray;
    }
}

.login-form .remember-me {
    display: none;
}